.header-nav {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  align-items: flex-end;
  margin-bottom: 5rem;
  height: 5rem;
}

.header-nav > .header-logo {
  margin-top: 20px;
}

.header-nav > .header-logo img {
  width: 200px;
  cursor: pointer;
}

.header-nav > .nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav > .nav-links li {
  padding: 0 5px;
}

.header-nav a {
  text-decoration: none;
  font-size: 1.5rem;
}
